footer {
   margin-left: 50%;
}
body {
    background: #969696;
    font: 14px Trebuchet MS;
}
.header {
    width: 100%;
    height: 135px;
    background-color: #D3D3D3;
    margin-left: auto;
}

.article {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.admin-table {
    width: 100%;
}
.form-item {
    width: 80%;
}
label {
    width: 100%;
}

p {
    margin-left: auto;
}
.out {
    text-decoration: none;
    margin-right: auto;
    color: brown;
    cursor: pointer;
    font-weight: 500;
}
.cont {
    border: 1px solid saddlebrown; /* Толщина рамки в пикселах,
                           тип границы (в данном случае сплошная линия) и
                           цвет линии */
    padding: 3px; /* Расстояние от текста до рамки */

}
.left {
    margin-left: 80%;
    font-family: Calibri;
    font-size: medium;
    color: black;
}
.er {
    position: fixed; /* Фиксированное положение */
    left: 38%; /* Расстояние от  края окна браузера */
    top: 17%; /* Расстояние сверху */
    font-family: Arial;
    color: red;
    /*padding: 10px; !* Поля вокруг текста *!*/
    /*background: red; !* Цвет фона *!*/
    /*border: 1px solid #333; !* Параметры рамки *!*/
}
.message {
    text-decoration: none;
    text-decoration-color: #FF7E00;

    font-family: "Comic Sans MS";
    font-size: x-large;
}